.pessoascontainer{
    margin-top: 45px;
    width: 100%;
    height: auto;
    min-height: 50vh;
    background-color: var(--dark);
    border-radius: 15px;
    padding: 25px 40px 25px 40px;
}

.pessoasgrid{
    width: 100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 15px
}

.pessoascontainer .title{
    font-size: 45px;
    font-weight: 600;
    color: #fff;  
    margin-bottom: 25px;  
}

.pessoascontainer .loader{
    width: 100px;
}

.pessoascontainer .adduser{
    font-size: 35px !important;
    color: var(--primary);
}

.pessoascontainer .addusericon{
    transition: .2s ease-in-out;
}

.pessoascontainer .addusericon:hover{
    filter: drop-shadow(0px 0px 10px var(--primary));
}

.pessoa{
    height: 300px;
    width: 100%;
    max-width: 275px;
    background-color: var(--highlight);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
}

.pessoa .picwrapper{
    height: 70%;
    width: 100%;
    background-color: var(--lighter);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.picwrapper .pic{
    width: 125px;
    height: 125px;
    background-color: var(--dark);
    border-radius: 50%;
    object-fit: cover;
}

.picwrapper .pic img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pessoa .info{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.pessoa .info .name{
    font-size: 18px;
    color: #fff;    
    font-weight: 600;
}

.pessoa .info .delbtn{
    color: #eb2f2f;
    font-size: 20px;
    font-weight: 800;    
    transition: .2s ease-in-out;
}

.pessoa .info .delbtn:hover{
    scale: 1.1;
}


.pessoa .info .editbtn{
    color: var(--gray);
    font-size: 20px;
    font-weight: 800;    
    transition: .2s ease-in-out;
}

.pessoa .info .editbtn:hover{
    scale: 1.1;
}



@media only screen and (max-width: 1000px) {
    .pessoascontainer{
        padding: 15px;
    }
    .pessoascontainer .title{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .pessoascontainer .adduser{
        font-size: 25px !important;
    }
}