.modalcpn{
    position: absolute;
    width: 100%;    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    position: absolute;
    margin: -15px -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    backdrop-filter: blur(3px);    
    z-index: 1;
}

.modal{
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    height: auto;
    background-color: var(--dark);
    box-shadow: 0 0 57px -30px var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    padding: 60px 15px;
    z-index: 99;
}

.modal .title{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.modal .title .pessoaname{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--primary);    
}

.modal .divisoria{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal .desc{
    text-align: center;
    max-width: 350px;
    color: var(--gray);
}
.modal .question{
    margin-top: 10px;
    color: #fff;
}

.modal .actions{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.modal .cancelbtn{
    color: #a5a5a5
}

.modal .acceptbtn{
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;    
    background: linear-gradient(270deg, rgba(240,76,76,1) 0%, rgba(253,45,45,1) 100%);
}


.modal .cancelbtn:hover,
.modal .acceptbtn:hover{
    filter: brightness(0.8);
    transition: .1s ease-in-out;
}

/* inputs */

.editform{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;  
    flex-direction: column;  
}

.editform label,.editform label{
  left: 20px;
  top: 18px;
  position: absolute;
  color: var(--input-text);
  transition: .1s ease-in-out;
}

.editform input,.editform input{
  width: 325px;  
  padding: 15px 55px;
  border-radius: 5px;
  background-color: var(--highlight);
  color: var(--input-text);
  border: 2px solid var(--highlight);
  transition: .1s ease-in-out;
  color: #fff;
  
} 

.editform input::placeholder,.editform input::placeholder{
  color: var(--input-text);
}

.editform input:focus, .editform input:focus{
  border: 2px solid var(--primary);
}

input:focus + .control-label
{    
  color: var(--primary);
}

.editform input:disabled,.editform input:disabled{
  border: 2px solid #0f0f0f;
  background-color: #0f0f0f;
  color: var(--input-text);
  cursor: not-allowed;  
}

.imgplaceholder{
    width: 125px;
    height: 125px;
    border-radius: 50%;    
    background-color: var(--dark);
    background-position: center;
    object-fit: cover;
    overflow: hidden;
}

.imgplaceholder img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.orange{
    background: var(--primary) !important;
    font-weight: 600;
}

.displayerr{
    color: #ee2525;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .modalcpn{
        margin: -15px -15px;
    }

    .modal .title{
        font-size: 16px;
    }
    .modal .title .pessoaname{
        font-size: 28px;
    }

    .modal .desc{
        font-size: 15px;
        padding: 0 10px;
    }

    .editform input,.editform input{
        width: 250px;
        padding: 10px 40px;
        font-size: 14px;
      }
    
      .editform label, .editform label{
        left: 17px;
        top: 12px;
        font-size: 14px;
      }
}