:root {
    --input-text: #737373;
}

.wrapper{
    width: 100%;
    height: 97vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.novapessoa .title{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}

.inputcontainer {
    position: relative;
}

.inputcontainer {
    position: relative;
}

.novapessoa {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 115px 75px;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.novapessoa label {
    left: 20px;
    top: 18px;
    position: absolute;
    color: var(--input-text);
    transition: 0.1s ease-in-out;
}

.novapessoa input{
    width: 325px;
    padding: 15px 55px;
    border-radius: 5px;
    background-color: var(--highlight);
    color: var(--input-text);
    border: 2px solid var(--dark);
    transition: 0.1s ease-in-out;
    color: #fff;
}

.novapessoa  input::placeholder{
    color: var(--input-text);
}

.novapessoa  input:focus{
    border: 2px solid var(--primary);
}

input:focus + .control-label {
    color: var(--primary);
}

.novapessoa  input:disabled{
    border: 2px solid #0f0f0f;
    background-color: #0f0f0f;
    color: var(--input-text);
    cursor: not-allowed;
}

.entrarBtn {
    width: 325px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: 0.1s ease-in-out;
}

.entrarBtn:hover {
    box-shadow: 0 0 0.5em var(--primary);
}

.entrarBtn:active {
    filter: brightness(0.8);
}

.novapessoa  p{
    color: var(--lighter);
}

.linkbtn {
    color: var(--primary);
    font-weight: 600;
    transition: 0.1s ease-in-out;
}

.linkbtn:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .novapessoa  input{
        width: 100%;
        padding: 10px 40px;
        font-size: 14px;
    }

    .novapessoa  label {
        left: 17px;
        top: 12px;
        font-size: 14px;
    }

    .entrarBtn {
        width: 100%;
        height: 45px;
        font-size: 16px;
        max-width: 260px;
    }

    .novapessoa  p{
        font-size: 12px;
    }

    .novapessoa {
        padding: 75px 25px;
    }

    .novapessoa  .title{
        font-size: 20px;
    }
}
